html, body {
  margin: 0;
  padding: 0;
}

ul.timezones {
  margin-top: 0;
  width: auto;
  background-color: #1ABC9C;
  color: #2c3e50;
}

ul.timezones li {
  border-top: 1px solid #2c3e50;
  padding: 0 3px;
}

ul.timezones li:first-child {
  border: none
}

.attribute {
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 3px 5px;
  background-color: #34495E;
  color: #fff;
}

.attribute h4 {
  cursor: pointer;
}

.attribute h4, .attribute p {
  margin: 3px;
}

.attribute code {
  margin-left: 10px;
}

.attribute button {
  margin-top: 1px;
  padding: 3px 5px;
}

.attribute .attribute {
  display: none;
  margin-left: 40px;
  margin-right: 40px;
  padding: 2px 5px;
  background-color: #1ABC9C;
}

.attribute .attribute h4 {
  cursor: default;
}

.attribute .attribute h4, .attribute .attribute p {
  margin: 0;
}

footer {
  padding: 5px;
}

footer p {
  margin-bottom: 0;
}