body {
  font-family: 'Stalinist One', cursive;
  background-image: url(../images/mw.jpg);
  color: #FFF;
}

.main {
  width: 500px;
  height: 300px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
}

.main h1 {
  font-size: 3em;
}

.main a:link, .main a:visited {
  color: #FFF;
  text-decoration: none;
}

.main a:hover {
  text-decoration: underline;
}