!!! 5
%head
  %meta{'charset' => 'utf-8'}
  %title=title
  %link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Stalinist+One'}
  %link{'rel' => 'stylesheet', 'href' => '/assets/stylesheets/styles.css'}
  %link{'rel' => 'stylesheet', 'href' => "/assets/stylesheets/#{name}.css"}
%body
  = yield
</html>