!!! 5
%head
  %meta{'charset' => 'utf-8'}
  %title=title
  %link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Autour+One'}
  %link{'rel' => 'stylesheet', 'href' => '/assets/stylesheets/styles.css'}
%body
  = yield
</html>