.btn-group
  %a.btn.dropdown-toggle{:'data-toggle' => 'dropdown', :href => '#'}
    Timezones
    %span.caret
  %ul.dropdown-menu.timezones
    %li
      %strong UCT11:
      (GMT -11) American Samoa, Midway Is., Niue Is., Samoa
    %li
      %strong UCT10:
      (GMT -10) USA (Hawaii), Tahiti, Cook Is., Johnston Is.
    %li
      %strong AlST:
      (GMT -10) USA (Aleutian Is.)
    %li
      %strong NAST:
      (GMT -9) USA (Alaska)
    %li
      %strong PST:
      (GMT -8) USA (Pacific), Canada (Pacific &amp; Yukon)
    %li
      %strong MxBajaN:
      (GMT -8) Mexico (Baja N.)
    %li
      %strong MxBajaS:
      (GMT -7) Mexico (Baja S.)
    %li
      %strong Arizona:
      (GMT -7) USA (Arizona)
    %li
      %strong UCT7:
      (GMT -7) None
    %li
      %strong MST:
      (GMT -7) USA (Mountain), Canada (Mountain)
    %li
      %strong Sask:
      (GMT -6) Canada (Saskatchewan)
    %li
      %strong CST:
      (GMT -6) USA (Central), Canada (Central)
    %li
      %strong Mex:
      (GMT -6) Mexico
    %li
      %strong UCT6:
      (GMT -6) Belize, Costa Rica, El Salvador, Guatemala, Honduras, Nicaragua
    %li
      %strong EST:
      (GMT -5) USA (Eastern), Canada (Eastern), Bahamas, Haiti, Turks &amp; Cacos
    %li
      %strong UCT5:
      (GMT -5) Cayman Is., Colombia, Ecuador, Jamaica, Panama
    %li
      %strong Ven:
      (GMT -4.5) Venezuela
    %li
      %strong WBST:
      (GMT -4) Brazil (West)
    %li
      %strong UCT4:
      (GMT -4) Barbados, Bolivia, Dominican Republic, Guadeloupe, Guiana, Puerto Rico, Venezuela
    %li
      %strong AST:
      (GMT -4) Canada (Atlantic), Bermuda, Greenland (Thule)
    %li
      %strong Chile:
      (GMT -4) Chile
    %li
      %strong ACRE:
      (GMT -4) Brazil (Trinity of Acre)
    %li
      %strong NST:
      (GMT -3.5) Canada (Newfoundland)
    %li
      %strong NAST3:
      (GMT -3) Saint Pierre &amp; Miquelon
    %li
      %strong Arg:
      (GMT -3) Argentina
    %li
      %strong EBST:
      (GMT -3) Brazil (East, including all coast and Brasilia)
    %li
      %strong SAT:
      (GMT -3) Argentina, French Guiana, Surinam, Uruguay
    %li
      %strong NORO:
      (GMT -2) Brazil (Fernando De Noronha)
    %li
      %strong EUT1:
      (GMT -1) Greenland (Scoresbysund), Portugal (Azores)
    %li
      %strong UCT1:
      (GMT -1) Cape Verde Is
    %li
      %strong UCT:
      (GMT +0) Iceland, Mali, Ivory Coast, Gambia, Ghana, Guinea, Liberia, Morocco, Senegal
    %li
      %strong GMT:
      (GMT +0) United Kingdom, Ireland
    %li
      %strong PWT:
      (GMT +0) Portugal, Madeira
    %li
      %strong WET:
      (GMT +0) Spain (Canary Is.), Faroe Islands
    %li
      %strong CET:
      (GMT +1) Austria, Belgium, Denmark, France, Germany, Italy, Netherlands, Norway, Spain, Sweden, Switzerland
    %li
      %strong UCTm1:
      (GMT +1) Algeria, Angola, Cameroon, Chad, Congo, Gabon, Niger, Nigeria, Tunisia
    %li
      %strong UCTm2:
      (GMT +2) Botswana, Burundi, Estonia, Mozambique, Rwanda, Swaziland, Zambia, Zimbabwe
    %li
      %strong SST:
      (GMT +2) Syria
    %li
      %strong SAST:
      (GMT +2) South Africa
    %li
      %strong EUTm2:
      (GMT +2) Lebanon
    %li
      %strong EET:
      (GMT +2) Bulgaria, Finland, Greece, Romania, Russian Fed. (Zone1), Turkey, Ukraine
    %li
      %strong Egypt:
      (GMT +2) Egypt
    %li
      %strong Israel:
      (GMT +2) Israel
    %li
      %strong JST:
      (GMT +2) Jordan
    %li
      %strong IST:
      (GMT +3) Iraq
    %li
      %strong RFTm2:
      (GMT +3) Russian Federation (Zone 1)
    %li
      %strong UCTm3:
      (GMT +3) Ethiopia, Kenya, Kuwait, Madagascar, Qatar, Saudi Arabia, Somalia, Sudan, Tanzania
    %li
      %strong Iran:
      (GMT +3.5) Iran
    %li
      %strong UCTm4:
      (GMT +4) Azerbaijan, Mauritius, Oman, Reunion, Seychelles, United Arab Emirates
    %li
      %strong RFTm3:
      (GMT +4) Russian Federation (Zone 2)
    %li
      %strong UAEST:
      (GMT +4) United Arab Emirates
    %li
      %strong AFG:
      (GMT +4.5) Afghanistan
    %li
      %strong RFTm4:
      (GMT +5) Russian Federation (Zone 3)
    %li
      %strong UCTm5:
      (GMT +5) Maldives, Pakistan, Tajikistan, Turkmenistan, Uzbekistan
    %li
      %strong UCTm5colon30:
      (GMT +5.5) India, Sri Lanka
    %li
      %strong UCTm5colon45:
      (GMT +5.75) Nepal
    %li
      %strong UCTm6:
      (GMT +6) Bangladesh, Bhutan
    %li
      %strong RFTm5:
      (GMT +6) Russian Federation (Zone 4)
    %li
      %strong UCTm6colon30:
      (GMT +6.5) Myanmar, Cocos (Keeling) Is.
    %li
      %strong UCTm7:
      (GMT +7) Cambodia, Kampuchea, Indonesia (West), Thailand, Vietnam
    %li
      %strong RFTm6:
      (GMT +7) Russian Federation (Zone 5)
    %li
      %strong RFTm7:
      (GMT +8) Russian Federation (Zone 6)
    %li
      %strong UCTm8:
      (GMT +8) Brunei
    %li
      %strong MALST:
      (GMT +8) Malaysia, Singapore, Indonesia (Central), Philippines
    %li
      %strong ChST:
      (GMT +8) China, Hong Kong, Taiwan
    %li
      %strong WAST:
      (GMT +8) Australia (Western)
    %li
      %strong JapST:
      (GMT +9) Japan
    %li
      %strong UCTm9:
      (GMT +9) Indonesia (East), Korea
    %li
      %strong RFTm8:
      (GMT +9) Russian Federation (Zone 7)
    %li
      %strong UCTm9colon30:
      (GMT +9.5) Australia (Northern Territory)
    %li
      %strong ACST:
      (GMT +9.5) Australia (South Australia and Broken Hill)
    %li
      %strong AEST:
      (GMT +10) Australia (NSW, Capitol Territory, Victoria)
    %li
      %strong UCTm10:
      (GMT +10) Australia (Queensland), Guam, Papua New Guinea
    %li
      %strong RFTm9:
      (GMT +10) Russian Federation (Zone 8)
    %li
      %strong TST:
      (GMT +10) Australia (Tasmania)
    %li
      %strong UCTm11:
      (GMT +11) New Caledonia, Solomon Is., Vanuatu
    %li
      %strong RFTm10:
      (GMT +11) Russian Federation (Zone 9)
    %li
      %strong UCTm11colon30:
      (GMT +11.5) Norfolk Is.
    %li
      %strong UCTm12:
      (GMT +12) Fiji, Kiribati, Nauru, Tuvalu, Wake Is., Wallis &amp; Futana Is.
    %li
      %strong RFTm11:
      (GMT +12) Russian Federation (Zone 10)
    %li
      %strong NZST:
      (GMT +12) New Zealand
    %li
      %strong RFTm12:
      (GMT +13) Russian Federation (Zone 11)
    %li
      %strong UCTm13:
      (GMT +13) Tonga